<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/agri-report.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<title></title>
</head>
<body ng-app="reportApp">
	<div ng-controller="AppController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/report-app/#/reports">日報アプリ</a>
			</div>
			<div>
				<ul class="nav navbar-nav" ng-if="authenticated">
					<li class="active"><a href="/report-app/#/reports">日報一覧</a></li>
					<li><a href="/report-app/#/report/add">新規作成</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/report-app/#/signup">新規登録</a></li>
					<li class="dropdown" ng-if="authenticated">
						<a class="dropdown-toggle" data-toggle="dropdown" role="down" aria-haspopup="true" aria-expanded="false">
							{{user.name}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/report-app/#/user/edit">基本設定</a></li>
							<li><a ng-click="logout()">ログアウト</a></li>
						</ul>
					</li>
					<li ng-if="!authenticated"><a href="/report-app/#/login">ログイン</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<ng-view></ng-view>
	</div>
	<script src="js/app.js"></script>
	<script src="js/controllers/AppController.js"></script>
	<script src="js/controllers/HomeController.js"></script>
	<script src="js/controllers/ListController.js"></script>
	<script src="js/controllers/AddController.js"></script>
	<script src="js/controllers/EditController.js"></script>
	<script src="js/factories/Auth.js"></script>
	<script src="js/factories/Report.js"></script>
	<script src="js/directives/file-model.js"></script>
	<script src="js/directives/browse-button.js"></script>
	<script src="js/directives/password-match.js"></script>
	<script src="js/directives/editable-text.js"></script>
</body>
</html>
